@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

main{
    padding: 30px;
}

.miniatura-artigo div {
    padding: 20px;
}

.miniatura-imagem-artigos{
    width: 300px;
}

.miniatura-texto-artigos{
    display: flex;
}

.miniatura-artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    width: 600px;
    background-color: lightblue;
}

.feed{
    display: flex;
}

.miniatura-artigo h2 {
    padding: 10px 0px;
}

.miniatura-imagem-artigos{
    width: 90%;
}